@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  width: 100%;
  height: 100dvh;
  background-image: url('../../../../../public/sea/main_sea_top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: darken;
  animation: fadeIn 1s ease-in-out;
}
